static/Earthquake_info_to_MinIO_(S3) (1).json
{"flowContents":{"identifier":"9300df58-9909-3bbb-996e-7d7f2c57223a","instanceIdentifier":"179ca892-019b-1000-001f-b444291a898d","name":"Earthquake info to MinIO (S3)","comments":"","position":{"x":1496.0,"y":-792.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"bccedb66-c720-3341-950b-75ba9e99e7ba","instanceIdentifier":"77f2345c-ee46-15e1-b22c-a6bfa9d63b04","name":"Array to JSON documents","comments":"","position":{"x":-115.5,"y":341.5},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#943100"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9300df58-9909-3bbb-996e-7d7f2c57223a"},{"identifier":"8b3508da-aec6-334f-80db-00933bbd52b5","instanceIdentifier":"77f2345a-ee46-15e1-3213-d54f2215a766","name":"Time bucketing attributes","comments":"","position":{"x":524.5,"y":341.5},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"Delete Attributes Expression":null,"filename":"earthquakes_${now():format('yyyyMMdd_HHmm')}.json","hour":"${now():format('HH')}","month":"${now():format('MM')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","year":"${now():format('yyyy')}","Stateful Variables Initial Value":null,"day":"${now():format('dd')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"hour":{"name":"hour","displayName":"hour","identifiesControllerService":false,"sensitive":false,"dynamic":true},"month":{"name":"month","displayName":"month","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"year":{"name":"year","displayName":"year","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"day":{"name":"day","displayName":"day","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{"background-color":"#943100"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9300df58-9909-3bbb-996e-7d7f2c57223a"},{"identifier":"3a24d5d8-1260-3aac-a5ec-2cdfb4dc1a9c","instanceIdentifier":"77f23459-ee46-15e1-4aa7-f1337da1b09e","name":"Retrieve Earthquake info (5 mins)","comments":"","position":{"x":-115.5,"y":125.5},"type":"org.apache.nifi.processors.standard.ExecuteProcess","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Command":"/usr/bin/curl","Redirect Error Stream":"false","Working Directory":"/home/osbdet/notebooks","Output MIME type":null,"Argument Delimiter":" ","Batch Duration":null,"Command Arguments":"--silent https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_day.geojson"},"propertyDescriptors":{"Command":{"name":"Command","displayName":"Command","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Redirect Error Stream":{"name":"Redirect Error Stream","displayName":"Redirect Error Stream","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME type":{"name":"Output MIME type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Duration":{"name":"Batch Duration","displayName":"Batch Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#0077ff"},"schedulingPeriod":"5 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9300df58-9909-3bbb-996e-7d7f2c57223a"},{"identifier":"d125dbca-312d-3cb3-98f3-6545a66f5bcf","instanceIdentifier":"77f23458-ee46-15e1-7734-415dcceac810","name":"Save Earthquake info in MinIO (S3)","comments":"","position":{"x":528.0,"y":136.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.0.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"http://localhost:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"server-side-encryption":"None","Write ACL User List":"${s3.permissions.writeacl.users}","encryption-service":null,"Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${filename}","AWS Credentials Provider service":"5b755108-d9c6-3bec-a502-1caa21104fea","Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"earthquake","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#4e8f00"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9300df58-9909-3bbb-996e-7d7f2c57223a"},{"identifier":"c4ef46a7-6c6c-3334-a754-ce467d8c5819","instanceIdentifier":"77f2345d-ee46-15e1-48b3-c2106ba8771e","name":"New line at the end","comments":"","position":{"x":-115.5,"y":565.5},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"$1\n","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#943100"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9300df58-9909-3bbb-996e-7d7f2c57223a"},{"identifier":"4bfbe828-8845-378a-b0f5-98bfa3d89cd3","instanceIdentifier":"77f2345b-ee46-15e1-da80-11ded0f2d91e","name":"JSON Docs to JSON Lines","comments":"","position":{"x":524.5,"y":557.5},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":null,"Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#943100"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9300df58-9909-3bbb-996e-7d7f2c57223a"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"edabb0ac-1c08-3442-b900-e23251c7aea6","instanceIdentifier":"77f2345e-ee46-15e1-b7f5-48be0c898850","name":"","source":{"id":"8b3508da-aec6-334f-80db-00933bbd52b5","type":"PROCESSOR","groupId":"9300df58-9909-3bbb-996e-7d7f2c57223a","name":"Time bucketing attributes","comments":"","instanceIdentifier":"77f2345a-ee46-15e1-3213-d54f2215a766"},"destination":{"id":"d125dbca-312d-3cb3-98f3-6545a66f5bcf","type":"PROCESSOR","groupId":"9300df58-9909-3bbb-996e-7d7f2c57223a","name":"Save Earthquake info in MinIO (S3)","comments":"","instanceIdentifier":"77f23458-ee46-15e1-7734-415dcceac810"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9300df58-9909-3bbb-996e-7d7f2c57223a"},{"identifier":"89ab2f20-5298-3dc1-91fb-9f58ff10eccd","instanceIdentifier":"77f23460-ee46-15e1-bb0a-8f2c46b70cde","name":"","source":{"id":"4bfbe828-8845-378a-b0f5-98bfa3d89cd3","type":"PROCESSOR","groupId":"9300df58-9909-3bbb-996e-7d7f2c57223a","name":"JSON Docs to JSON Lines","comments":"","instanceIdentifier":"77f2345b-ee46-15e1-da80-11ded0f2d91e"},"destination":{"id":"8b3508da-aec6-334f-80db-00933bbd52b5","type":"PROCESSOR","groupId":"9300df58-9909-3bbb-996e-7d7f2c57223a","name":"Time bucketing attributes","comments":"","instanceIdentifier":"77f2345a-ee46-15e1-3213-d54f2215a766"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9300df58-9909-3bbb-996e-7d7f2c57223a"},{"identifier":"fd80c070-9fb8-3a41-bdb4-12c34eeedf3e","instanceIdentifier":"77f2345f-ee46-15e1-1c0a-19f37fb66ff1","name":"","source":{"id":"bccedb66-c720-3341-950b-75ba9e99e7ba","type":"PROCESSOR","groupId":"9300df58-9909-3bbb-996e-7d7f2c57223a","name":"Array to JSON documents","comments":"","instanceIdentifier":"77f2345c-ee46-15e1-b22c-a6bfa9d63b04"},"destination":{"id":"c4ef46a7-6c6c-3334-a754-ce467d8c5819","type":"PROCESSOR","groupId":"9300df58-9909-3bbb-996e-7d7f2c57223a","name":"New line at the end","comments":"","instanceIdentifier":"77f2345d-ee46-15e1-48b3-c2106ba8771e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9300df58-9909-3bbb-996e-7d7f2c57223a"},{"identifier":"b1cae4c9-955d-3874-aa67-21fdef70ab3a","instanceIdentifier":"23ed3a91-a07e-1b6f-0eef-1efebd8bf267","name":"","source":{"id":"3a24d5d8-1260-3aac-a5ec-2cdfb4dc1a9c","type":"PROCESSOR","groupId":"9300df58-9909-3bbb-996e-7d7f2c57223a","name":"Retrieve Earthquake info (5 mins)","comments":"","instanceIdentifier":"77f23459-ee46-15e1-4aa7-f1337da1b09e"},"destination":{"id":"bccedb66-c720-3341-950b-75ba9e99e7ba","type":"PROCESSOR","groupId":"9300df58-9909-3bbb-996e-7d7f2c57223a","name":"Array to JSON documents","comments":"","instanceIdentifier":"77f2345c-ee46-15e1-b22c-a6bfa9d63b04"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9300df58-9909-3bbb-996e-7d7f2c57223a"},{"identifier":"1eeafafa-ad5e-3076-b89e-08002446bc0a","instanceIdentifier":"23ed3a92-a07e-1b6f-7bd4-c723fdc926d5","name":"","source":{"id":"c4ef46a7-6c6c-3334-a754-ce467d8c5819","type":"PROCESSOR","groupId":"9300df58-9909-3bbb-996e-7d7f2c57223a","name":"New line at the end","comments":"","instanceIdentifier":"77f2345d-ee46-15e1-48b3-c2106ba8771e"},"destination":{"id":"4bfbe828-8845-378a-b0f5-98bfa3d89cd3","type":"PROCESSOR","groupId":"9300df58-9909-3bbb-996e-7d7f2c57223a","name":"JSON Docs to JSON Lines","comments":"","instanceIdentifier":"77f2345b-ee46-15e1-da80-11ded0f2d91e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9300df58-9909-3bbb-996e-7d7f2c57223a"}],"labels":[{"identifier":"0e1a3472-939d-3cb5-bd67-6a3cf03f0f32","instanceIdentifier":"5f413cb8-d798-1499-951a-70916cc29e79","position":{"x":-152.0,"y":336.0},"label":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nMetadata & \"minor\" data manipulation for further processing","zIndex":0,"width":1040.0,"height":400.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"9300df58-9909-3bbb-996e-7d7f2c57223a"},{"identifier":"a860edfb-a73a-33c4-a632-1513a3368878","instanceIdentifier":"77f23456-ee46-15e1-4b2c-c4a353dd833b","position":{"x":-152.0,"y":96.0},"label":"Get \"external data\" from USGS every 5 minutes","zIndex":0,"width":408.0,"height":232.0,"style":{"background-color":"#b8dfff","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"9300df58-9909-3bbb-996e-7d7f2c57223a"},{"identifier":"41fd82a1-86f0-3a5d-ab17-0c9fe9a8dd57","instanceIdentifier":"77f23457-ee46-15e1-4456-4dacd420800f","position":{"x":488.0,"y":96.0},"label":"Store \"metadata and data\" in the Storage Layer (MinIO in this case)","zIndex":0,"width":400.0,"height":232.0,"style":{"background-color":"#dcffcc","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"9300df58-9909-3bbb-996e-7d7f2c57223a"}],"funnels":[],"controllerServices":[{"identifier":"5b755108-d9c6-3bec-a502-1caa21104fea","instanceIdentifier":"5f413cb7-d798-1499-cc7c-cf0663782e4d","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.0.0"},"properties":{"profile-name":null,"assume-role-proxy-configuration-service":null,"default-credentials":"false","Session Time":"3600","assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-configuration-service":{"name":"assume-role-proxy-configuration-service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.0.0"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9300df58-9909-3bbb-996e-7d7f2c57223a"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}